/* CSS Document */
html {
  padding-left: 16.5%;
  padding-right: 16.5%;
}
#map {
  height: 550px;
  width: 80%;
  margin: 0 auto;
}
#fo_infos {
  height: 100px;
  width: 100%;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding-top: 20px;
}
#titleimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 38%;
  min-width: 300px;
}
#titel {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(22, 167, 78);
  font-size: 600%;
}
#info {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(22, 167, 78);
  font-size: 200%;
}
